footer{
    height: 67px;
    background-color: #0B24FB;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;

    code{
        font-size: 16px;
        font-weight: 700;
    }

    p{
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid white;
        font-size: 12px;
    }
}